@model FilmOfTheDay.Web.Models.Notification.NotificationViewModel

@{
    ViewData["Title"] = "Notifications";
}
@if(Model.Notifications == null || !Model.Notifications.Any())
{
    <div class="max-w-3xl mx-auto px-4 py-8">
        <p class="flex justify-center text-gray-500">No new notifications.</p>
    </div>
}