# fly.toml app configuration file generated for film-of-the-day
app = 'film-of-the-day'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[env]
  DOTNET_ENVIRONMENT = "Production"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
