@model FilmOfTheDay.Web.Models.Search.SearchViewModel

@{
    ViewData["Title"] = "Search Users";
}

<div class="max-w-3xl mx-auto px-4 py-6">
    <p class="flex justify-center text-gray-500">Enter a valid Username.</p>
</div>