@import "tailwindcss";


.auth-bg {
    background-image: url('/images/login-bg.jpg');
    background-size: cover;
    background-position: center;
}

/* ===============================
   🔧 Tailwind v4 Custom Theme
================================= */
@theme {
  --color-brand-light: #f2f2f2;
  --color-brand-light-hover: #e2e2e2;
  --color-brand-dark: #292929;
  --color-brand-dark-hover: ##141414;
  --color-brand-black: #090b14;
  --color-brand-black-hover: #0e111c;
  --color-brand-blue: #155DFC;
  --color-brand-blue-hover: #104ccc;
  --color-brand-green: #00A63E;
  --color-brand-green-hover: #00832f;
  --color-brand-link: #3B82F6;
  --color-brand-muted: #64748B;
  --color-brand-muted-hover: #404b59;
  --color-brand-card: #1E293B;
  --color-brand-danger: #EF4444;
  --color-brand-danger-hover: #c23636;
}